<ion-header class="ion-no-border">
  <ion-toolbar class="title" [color]="headerConf.barColor || 'primary' ">
    <ion-buttons *ngIf="headerConf.back.status" slot="start">
      <ion-button *ngIf="headerConf.back.back" (click)="back(headerConf.back.routeBack)" [disabled]="disableBack"> {{headerConf.back.text}}
        <ion-icon *ngIf="headerConf.back.icon" [icon]="headerConf.back.icon"></ion-icon>
      </ion-button>
      <ion-button *ngIf="headerConf.back.action" (click)="backAction($event)" [disabled]="disableBack"> {{headerConf.back.text}}
        <ion-icon *ngIf="headerConf.back.icon" [icon]="headerConf.back.icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ headerConf.title }}</ion-title>
    <ion-buttons *ngIf="headerConf.extra.status" slot="end">
      <ion-button (click)="extraAction($event)" [disabled]="disableExtra"> {{headerConf.extra.text}}
        <ion-icon slot="icon-only" *ngIf="headerConf.extra.icon" [icon]="headerConf.extra.icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="headerConf.hasSubtitle" class="subtitle" [color]="headerConf.barColor || 'primary'">
    <ion-label>
      <h1> {{ headerConf.subtitle }} </h1>
    </ion-label>
    <ion-label *ngIf="headerConf.subtext">
      <p> {{ headerConf.subtext }} </p>
    </ion-label>
  </ion-toolbar>
  <ng-content></ng-content>
</ion-header>