<ion-content class="ion-padding">

    <ion-row>
        <ion-col class="h-mb--1" size="6" size-sm="6" *ngFor="let option of optionList">
            <div class="img-container h-juscont--center h-borderadius--15 ion-activatable ripple-parent">
                <img class="img-centered" [src]="option.src" />
                <p class="title-p h-font--medium h-c--white h-fs--1-5 h-pl--2">{{option.title}}</p>
                <ion-ripple-effect></ion-ripple-effect>
            </div>
        </ion-col>
    </ion-row>

</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar color="light" size="small">
        <ion-row class="h-pl--2">
            <p> Usuario: </p>
        </ion-row>
        <ion-row class="h-pl--2">
            <p class="h-mt--0 h-fs--1-5"> {{user.name}} {{user.lastname}} - {{user.code}} </p>
        </ion-row>
    </ion-toolbar>
</ion-footer>