<ion-header>
    <ion-toolbar color="primary" mode="md">
        <ion-title size="small">{{ packageTitle }}</ion-title>
        <ion-buttons slot="end">
            <!-- <ion-button fill="clear" (click)="addContainer()">
                <ion-icon slot="icon-only" name="bag-add"></ion-icon>
            </ion-button> -->
            <ion-button fill="clear" (click)="onClose()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding h-bg--gray">

    <ion-card *ngIf="!containerListForm" class="g-card g-card--permanent">
        <ion-row>
            <ion-col size="12" class="ion-text-center ion-align-items-center ion-align-self-center">
                <form class="h-mt--3" [formGroup]="packageSelectorForm"
                    (ngSubmit)="makePackageForm(packageSelectorForm.value)">
                    <ion-item class="g-item--transparent g-item--no-hihglight" lines="none">
                        <ion-label position="floating">Tipos de Empaques</ion-label>
                        <ion-select class="g-select g-select--c-primary" [cancelText]="lang.Buttons.Cancel"
                            [okText]="lang.Buttons.Confirm" multiple="true" formControlName="selector">
                            <ion-select-option *ngFor="let container of containerList" [value]="container.containerId">
                                {{ container.containerText }}</ion-select-option>
                        </ion-select>
                        <div class="error-container">
                            <ng-container *ngFor="let validation of validations.selector">
                                <div class="error-message animated fadeInUp"
                                    *ngIf="packageSelectorForm.get('selector').hasError(validation.type) &&
                               (packageSelectorForm.get('selector').dirty || packageSelectorForm.get('selector').touched)">
                                    <span>{{ validation.message }}</span>
                                </div>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-row class="ion-justify-content-center">
                        <ion-button color="secondary" type="submit" size="small"
                            [disabled]="!packageSelectorForm.valid">
                            {{ lang.Buttons.MakeForm }}
                            <ion-icon slot="end" name="cube"></ion-icon>
                        </ion-button>
                    </ion-row>
                </form>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-row *ngIf="containerListForm">
        <form [formGroup]="packagesForm" (ngSubmit)="doPackage(packagesForm.value)">
            <ion-card class="g-card g-card--permanent">
                <div *ngFor="let container of c.controls; let i = index">
                    <div [formGroup]="container">
                        <ion-row>
                            <ion-col size="8">
                                <ion-item class="g-item--no-padding g-item--transparent g-item--no-hihglight"
                                    lines="none">
                                    <ion-input class="g-input g-input--disabled ion-text-start" type="text"
                                        placeholder="Tipo de Paquete..." formControlName="containerText"
                                        autocomplete="off"></ion-input>
                                </ion-item>
                                <div class="error-container">
                                    <ng-container *ngFor="let validation of validations.containerText">
                                        <div class="error-message animated fadeInUp"
                                            *ngIf="container.get('containerText').hasError(validation.type) &&
                                                 (container.get('containerText').dirty || container.get('containerText').touched)">
                                            <span>{{ validation.message }}</span>
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col size="4">
                                <ion-item class="g-item--no-padding g-item--transparent g-item--no-hihglight"
                                    lines="none">
                                    <ion-input
                                        class="g-input g-input--b-strong-gray g-input--w-100 ion-text-end ion-float-right"
                                        type="number" formControlName="quantity" autocomplete="off"
                                        placeholder="Cantidad..."></ion-input>
                                </ion-item>
                                <div class="error-container">
                                    <ng-container *ngFor="let validation of validations.quantity">
                                        <div class="error-message animated fadeInUp"
                                            *ngIf="container.get('quantity').hasError(validation.type) &&
                                                 (container.get('quantity').dirty || container.get('quantity').touched)">
                                            <span>{{ validation.message }}</span>
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
            </ion-card>
            <ion-row class="ion-justify-content-center">
                <ion-button color="medium" type="submit" [disabled]="!packagesForm.valid"> {{ btnFinishPreparation }}
                </ion-button>
            </ion-row>
        </form>
    </ion-row>


    <!-- Dinamic Package List -->
    <!-- <form [formGroup]="packagesForm" (ngSubmit)="doPackage(packagesForm.value)">
        <ion-card class="g-card g-card--permanent">
            <div *ngFor="let container of c.controls; let i = index">
                <div [formGroup]="container">
                    <ion-row>
                        <ion-col size="6">
                            <ion-item class="g-item--no-padding g-item--transparent g-item--no-hihglight" lines="none">
                                <ion-input class="g-input g-input--b-strong-gray ion-text-start" type="text" placeholder="Tipo de Paquete..."
                                    formControlName="containerText" autocomplete="off"></ion-input>
                            </ion-item>
                            <div class="error-container">
                                <ng-container *ngFor="let validation of validations.containerText">
                                    <div class="error-message animated fadeInUp"
                                        *ngIf="container.get('containerText').hasError(validation.type) &&
                                         (container.get('containerText').dirty || container.get('containerText').touched)">
                                        <span>{{ validation.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size="4">
                            <ion-item class="g-item--no-padding g-item--transparent g-item--no-hihglight" lines="none">
                                <ion-input
                                    class="g-input g-input--b-strong-gray g-input--w-100 ion-text-end ion-float-right"
                                    type="number" formControlName="quantity" autocomplete="off" placeholder="Cantidad..."></ion-input>
                            </ion-item>
                            <div class="error-container">
                                <ng-container *ngFor="let validation of validations.quantity">
                                    <div class="error-message animated fadeInUp"
                                        *ngIf="container.get('quantity').hasError(validation.type) &&
                                         (container.get('quantity').dirty || container.get('quantity').touched)">
                                        <span>{{ validation.message }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size="2" class="ion-align-self-end">
                            <ion-button class="h-mb--1-5" fill="clear" size="small" [disabled]=" i === 0" (click)="removeContainer(i)">
                                <ion-icon slot="icon-only" color="danger" name="bag-remove"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-card>
        <ion-row class="ion-justify-content-center">
            <ion-button color="medium" type="submit" [disabled]="!packagesForm.valid"> {{ btnFinishPreparation }}
            </ion-button>
        </ion-row>
    </form> -->

</ion-content>