<app-header [headerConf]="headerSettings">

  <form [formGroup]="deliveryForm">
    <ion-row>
      <ion-col size="12">
        <ion-item class="g-item--no-padding g-item--transparent g-item--no-hihglight">
          <ion-label>Fechas</ion-label>
          <ion-select class="g-select" [cancelText]="lang.Buttons.Cancel" [okText]="lang.Buttons.Confirm"
            placeholder="Seleccione una fecha" formControlName="byDate" (ionChange)="selectDate( $event )">
            <ion-select-option *ngFor="let date of dateList" [value]="date">
              {{date}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>

</app-header>

<ion-content class="ion-no-padding">

  <ion-refresher *ngIf="selectedDate" slot="fixed" (ionRefresh)="getDeliveryPersonsDetailList($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" [pullingText]="lang.Labels.PullToRefresh"
      refreshingSpinner="decrecent" [refreshingText]="refreshOrder">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="selectedDate">
    <app-delivery-item [deliveryList]="deliveryList">
    </app-delivery-item>
  </div>

</ion-content>
<app-footer [firstSpeech]="activeUser">
</app-footer>