.form-wrapper{
    width: 80%;
    height: 70vh;
    position: absolute;
    margin: 0 auto;
    bottom: 3vh;
    border: 1px solid #356595;
}

.logo {
    display: block;
    margin: auto;
    margin-top: -25%;
}

.bottom-link{
    width: 100%;
    position: absolute;
    margin: auto;
    bottom: 15px;
}