<form [formGroup]="responseForm" (ngSubmit)="setReponse(responseForm.value)">
  <ion-row>
    <ion-col *ngIf="fieldName === 'pickedQ'" size="10">
      <ion-item class="g-item--transparent g-item--no-padding g-item--no-hihglight" lines="none">
        <ion-input class="g-input g-input--b-strong-gray ion-text-end" type="number" formControlName="pickedQ"
          autocomplete="off"></ion-input>
        <ion-icon slot="end" color="medium" name="information-circle" (click)="showInfo()"></ion-icon>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.pickedQ">
          <div class="error-message" *ngIf="responseForm.get('pickedQ').hasError(validation.type) &&
                        (responseForm.get('pickedQ').dirty || responseForm.get('pickedQ').touched)">
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-col>
    <ion-col *ngIf="fieldName === 'verifiedQ'" size="10">
      <ion-item class="g-item--transparent g-item--no-padding g-item--no-hihglight" lines="none">
        <ion-input class="g-input g-input--b-strong-gray ion-text-end" type="number" formControlName="verifiedQ"
          autocomplete="off"></ion-input>
        <ion-icon slot="end" color="medium" name="information-circle" (click)="showInfo()"></ion-icon>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.verifiedQ">
          <div class="error-message" *ngIf="responseForm.get('verifiedQ').hasError(validation.type) &&
                        (responseForm.get('verifiedQ').dirty || responseForm.get('verifiedQ').touched)">
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-col>
    <ion-col size="2" class="ion-align-self-center">
      <ion-button fill="clear" class="g-button--no-padding" type="submit" [disabled]="submitted">
        <ion-icon slot="icon-only" color="success" name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</form>