<app-header [headerConf]="headerSettings" (extraBtnAction)="getMonitorList($event)" [disableExtra]="!selectedDate">

  <form [formGroup]="monitorForm">
    <ion-row>
      <ion-col size="12">
        <ion-item class="g-item--no-padding g-item--transparent g-item--no-hihglight">
          <ion-label>Fechas</ion-label>
          <ion-select class="g-select" [cancelText]="lang.Buttons.Cancel" [okText]="lang.Buttons.Confirm"
            placeholder="Seleccione una fecha" formControlName="byDate" (ionChange)="selectDate( $event )">
            <ion-select-option *ngFor="let date of dateList" [value]="date">
              {{date}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>

  <ion-row *ngIf="selectedDate" class="ion-no-padding">
    <ion-col size="12" class="w-100 h-flex--row ion-text-center">
      <div class="w-20">
        <p class="h-font--bolder h-c--gray h-my--small h-fs--1"> {{ lang.Labels.Legend }} </p>
      </div>
      <div class="w-13" *ngFor="let label of labelList">
        <p class="h-font--bold h-my--small" [ngClass]="getLabelByStatus(label.status)" [tooltip]="label.tooltip"
          positionV="bottom" mobileEvent="click" duration="1200" hideOthers="true"> {{ label.description }} </p>
      </div>
    </ion-col>
  </ion-row>

</app-header>

<ion-content class="ion-no-padding">

  <div *ngIf="selectedDate">
    <app-monitor-item [monitorList]="monitorList">
    </app-monitor-item>
  </div>

</ion-content>
<app-footer [firstSpeech]="activeUser">
  <ion-toolbar *ngIf="selectedDate" mode="md" color="white">
    <ion-row class="ion-no-padding">
      <ion-col size="12" class="w-100 h-flex--row ion-text-center ion-align-items-center">
        <div class="w-20">
          <p class="h-font--bolder h-my--small h-fs--1"> {{ lang.Labels.Resume }} </p>
        </div>
        <div *ngFor="let item of monitorTotal" class="w-13 h-box--gray" [ngClass]="getClassByStatus(item.status)">
          <p class="h-font--bold h-my--small"> {{ item.quantity }} </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</app-footer>