<ion-row class="ion-no-padding">
  <ion-item class="w-100 g-item--transparent g-item--no-padding g-item--no-hihglight" *ngFor="let item of monitorList">
    <ion-col size="12" class="w-100 h-flex--row ion-text-center ion-align-items-center">
      <div class="w-23">
        <p class="h-font--bolder h-my--small h-fs--1-2"> {{ item.ruta }} </p>
      </div>
      <div *ngFor="let data of item.detalle" class="w-13">
        <p class="h-font--medium h-my--small">{{ data.quantity }}</p>
      </div>
    </ion-col>
  </ion-item>
</ion-row>

<div *ngIf="monitorList.length === 0" class="ion-text-center ion-align-items-center ion-text-uppercase h-pa--4 h-fs--1-3 h-c--gray">
  <p> {{ noItems }} </p>
</div>