<app-header [headerConf]="headerSettings" [disableExtra]="checkOrder" (extraBtnAction)="packageOrder()">
    <ion-toolbar color="secondary" class="ion-text-center">
        <p class="h-fs--1-3">{{order.customerName}}</p>
    </ion-toolbar>
</app-header>

<ion-content class="ion-no-padding">

   <app-order-product-item [productList]="order.detail" (getFormStatus)="getFormStatus( $event )"></app-order-product-item> 

</ion-content>

<app-footer [firstSpeech]="orderId"
    [secondCol]="true"
    [secondSpeech]="orderLength">
</app-footer>