<ion-item class="g-item--no-padding h-mt--1 ion-activatable ripple-parent" *ngFor="let order of orderList; let i = index;" [detail]="showDetail">
    <ion-row>
        <ion-col size="12">
            <ion-row>
                <ion-col class="ion-no-padding" size="6">
                    <p class="ion-no-margin h-pl--0-5 h-fs--1-2 h-font--bold h-c--secondary">
                        <span> <ion-icon name="cube"></ion-icon> </span>
                        {{orderlbl}} {{order.orderCode}} 
                    </p>
                </ion-col>
                <ion-col class="ion-no-padding" size="6">
                    <p class="ion-no-margin h-pl--0-5 h-fs--1-2 h-font--bold h-c--secondary">
                        <span> <ion-icon name="storefront"></ion-icon> </span>
                        {{deliverlbl}} {{order.deliverCode}}
                    </p>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="12">
            <p class="ion-no-margin h-pl--0-5 h-fs--1-4 h-font-normal h-c--primary">
                <span> <ion-icon name="person"></ion-icon> </span>
                {{order.attendantName}}</p>
        </ion-col>
        <ion-col size="12">
            <p class="ion-no-margin h-pl--0-5 h-fs--1-3 h-c--gray">
                <span> <ion-icon name="card"></ion-icon> </span>
                {{order.attendantCode}}
            </p>
        </ion-col>
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
</ion-item>
