<m-header></m-header>

<ion-content class="ion-no-padding">

    <form [formGroup]="prepareForm">
        <ion-row>
            <ion-col size="12">
                <ion-item class="g-item--no-padding g-item--transparent">
                    <ion-select class="g-select" placeholder="Seleccione una ruta" formControlName="route">
                        <ion-select-option *ngFor="let n of [1,2,3,4,5,6]" [value]="n">n</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-item class="g-item--transparent g-item--no-padding g-item--no-hihglight">
                    <span item-start>
                        <ion-icon color="gray" name="search"></ion-icon>
                    </span>
                    <ion-input class="g-input--sx-padding" color="dark" type="text" autocomplete="off"
                        formControlName="searchText" placeholder="Buscar...">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </form>

    <m-prepare-item [orderList]="orders" [showDetail]="true">
    </m-prepare-item>

</ion-content>
<m-footer>
    <ion-toolbar class="g-toolbar--no-padding">
        <ion-segment class="g-segment--custom" color="secondary" mode="md" (ionChange)="segmentChanged( $event )">
            <ion-segment-button *ngFor="let tab of tabList " [value]="tab.value" [layout]="tab.layout">
                <ion-label>{{tab.label}}</ion-label>
                <span *ngIf="tab.span">{{tab.span}}</span>
                <ion-icon *ngIf="tab.icon" [name]="tab.icon"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</m-footer>